Repository lesilvan/OnlineIDE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compiler-publish, darkmode-publish, project-publish, gateway-publish, ui-publish, discovery-publish, compiler-build, darkmode-build, project-build, gateway-build, ui-build, discovery-build, compiler-test, compiler-package, darkmode-package, project-package, gateway-package, ui-package, discovery-package

compiler-publish:
  stage: publish
  script:
  - cd $IMAGE_DIR
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/compiler-service
    IMAGE_DIR: compiler

darkmode-publish:
  stage: publish
  script:
  - cd $IMAGE_DIR
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/darkmode-service
    IMAGE_DIR: dark-mode

project-publish:
  stage: publish
  script:
  - cd $IMAGE_DIR
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/project-service
    IMAGE_DIR: project

gateway-publish:
  stage: publish
  script:
  - cd $IMAGE_DIR
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/gateway-service
    IMAGE_DIR: gateway

ui-publish:
  stage: publish
  script:
  - cd $IMAGE_DIR
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/ui-service
    IMAGE_DIR: ui

discovery-publish:
  stage: publish
  script:
  - cd $IMAGE_DIR
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/discovery-service
    IMAGE_DIR: discoveryserver

compiler-build:
  stage: build
  script:
  - cd compiler
  - mvn clean compile

darkmode-build:
  stage: build
  script:
  - cd dark-mode
  - mvn clean compile

project-build:
  stage: build
  script:
  - cd project
  - mvn clean compile

gateway-build:
  stage: build
  script:
  - cd gateway
  - mvn clean compile

ui-build:
  stage: build
  script:
  - cd ui
  - mvn clean compile
  artifacts:
    paths:
    - ui/target/

discovery-build:
  stage: build
  script:
  - cd discoveryserver
  - mvn clean compile

compiler-test:
  stage: test
  script:
  - cd compiler
  - mvn test

compiler-package:
  stage: package
  variables:
    MAVEN_OPTS: -DskipTests=true
  script:
  - cd compiler
  - mvn package

darkmode-package:
  stage: package
  variables:
    MAVEN_OPTS: -DskipTests=true
  script:
  - cd dark-mode
  - mvn package

project-package:
  stage: package
  variables:
    MAVEN_OPTS: -DskipTests=true
  script:
  - cd project
  - mvn package

gateway-package:
  stage: package
  variables:
    MAVEN_OPTS: -DskipTests=true
  script:
  - cd gateway
  - mvn package

ui-package:
  stage: package
  variables:
    MAVEN_OPTS: -DskipTests=true
  script:
  - cd ui
  - mvn package
  artifacts:
    paths:
    - ui/target/*.jar

discovery-package:
  stage: package
  variables:
    MAVEN_OPTS: -DskipTests=true
  script:
  - cd discoveryserver
  - mvn package

Add basic sharing functionality to backend
  project/src/main/java/edu/tum/ase/project/ProjectApplication.java
  project/src/main/java/edu/tum/ase/project/config/Config.java
  project/src/main/java/edu/tum/ase/project/config/CorsConfig.java
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/model/User.java
Due: project-publish, project-build, project-package

Add sharing feature to frontend
  ui/frontend/src/app/editor/editor.component.ts
  ui/frontend/src/app/project-list.service.ts
Due: ui-publish, ui-build, ui-package

Complete sharing feature frontend
  ui/frontend/src/app/editor/editor.component.html
  ui/frontend/src/app/editor/editor.component.ts
  ui/frontend/src/app/project.ts
  ui/frontend/src/app/source-file.service.ts
  ui/frontend/src/app/source-file.ts
Due: ui-publish, ui-build, ui-package

Implement sharing feature backend
  project/src/main/java/edu/tum/ase/project/ProjectSourceFileApplication.java
  project/src/main/java/edu/tum/ase/project/config/MethodSecurityConfig.java
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/controller/ProjectSourceFileController.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
  project/src/main/java/edu/tum/ase/project/model/ProjectSourceFile.java
  project/src/main/java/edu/tum/ase/project/service/ProjectService.java
  project/src/main/java/edu/tum/ase/project/service/ProjectSourceFileService.java
Due: project-publish, project-build, project-package

ui service now runs over api-gateway service to fix cors errors
  docker-compose.prod.yml
  docker-compose.yml
  gateway/src/main/resources/application.yml
  ui/frontend/src/environments/environment.prod.ts
Due: gateway-publish, ui-publish, gateway-build, ui-build, gateway-package, ui-package

updated CI/CD to only deploy when merge on master happens
  .gitlab-ci.yml
Due: none

Fixed routes.
  ui/frontend/package-lock.json
  ui/frontend/src/app/app.module.ts
  ui/frontend/src/app/home/home.component.html
  ui/frontend/src/proxy.conf.json
Due: ui-publish, ui-build, ui-package

Added text overflow setting to source-file buttons.
  ui/frontend/src/app/editor/editor.component.css
  ui/frontend/src/app/editor/editor.component.html
Due: ui-publish, ui-build, ui-package

Added some margin to buttons in manage-projects.
  ui/frontend/src/app/project-management/project-management.component.css
Due: ui-publish, ui-build, ui-package

Resolve "Implement functionality to avoid long source file names"
  ui/frontend/package-lock.json
  ui/frontend/src/app/app.module.ts
  ui/frontend/src/app/editor/editor.component.css
  ui/frontend/src/app/editor/editor.component.html
  ui/frontend/src/app/home/home.component.html
  ui/frontend/src/app/project-management/project-management.component.css
  ui/frontend/src/proxy.conf.json
Due: ui-publish, ui-build, ui-package

Update CompilerTests
  compiler/src/test/java/edu/tum/ase/compiler/CompilerApplicationTests.java
  compiler/src/test/java/edu/tum/ase/compiler/e2e/CompilerServiceE2ETest.java
  compiler/src/test/java/edu/tum/ase/compiler/integration/CompilerIntegrationTests.java
  compiler/src/test/java/edu/tum/ase/compiler/unit/CompilerUnitTests.java
Due: compiler-publish, compiler-build, compiler-test, compiler-package

Changed layout of collaborators menu.
  ui/frontend/src/app/editor/editor.component.css
  ui/frontend/src/app/editor/editor.component.html
Due: ui-publish, ui-build, ui-package

Enabled csrf, disabled cors.
  gateway/src/main/java/edu/tum/ase/gateway/WebSecurityConfiguration.java
Due: gateway-publish, gateway-build, gateway-package

Update Gateway Application
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
Due: gateway-publish, gateway-build, gateway-package

Update Gateway Ressources
  gateway/src/main/resources/application.yml
Due: gateway-publish, gateway-build, gateway-package

Updated README
  README.md
Due: none

Cleaned up commented put code.
  gateway/src/main/java/edu/tum/ase/gateway/CsrfGrantingFilter.java
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  gateway/src/main/java/edu/tum/ase/gateway/WebSecurityConfiguration.java
Due: gateway-publish, gateway-build, gateway-package

code freeze
  README.md
Due: none

code freeze typo :D
  README.md
Due: none

Update README.md fix typo
  README.md
Due: none

Path conditions:
  compiler-publish: any of: compiler/**/*
  darkmode-publish: any of: dark-mode/**/*
  project-publish: any of: project/**/*
  gateway-publish: any of: gateway/**/*
  ui-publish: any of: ui/**/*
  discovery-publish: (any of: discoveryserver/*) or (any of: discoveryserver/**/*)
  compiler-build: any of: compiler/**/*
  darkmode-build: any of: dark-mode/**/*
  project-build: any of: project/**/*
  gateway-build: any of: gateway/**/*
  ui-build: any of: ui/**/*
  discovery-build: (any of: discoveryserver/*) or (any of: discoveryserver/**/*)
  compiler-test: any of: compiler/**/*
  compiler-package: any of: compiler/**/*
  darkmode-package: any of: dark-mode/**/*
  project-package: any of: project/**/*
  gateway-package: any of: gateway/**/*
  ui-package: any of: ui/**/*
  discovery-package: (any of: discoveryserver/*) or (any of: discoveryserver/**/*)
